{{ define "title"}}DBUI{{ end }}

{{ define "head" }}
    <style>
        .panel-body {
            padding: 0;
        }
    </style>
{{ end }}

{{ define "breadcrumbs" }}
    <li class="active">{{ .db | title }}</li>
{{ end }}

{{ define "nav-right-dd" }}
    <li><a id="" href="#">Import Database</a></li>
    <li><a id="export" href="#">Export Database</a></li>
{{ end }}

{{ define "left-sidebar" }}
    {{ template "all-store-sidebar" . }}
{{ end }}

{{ define "content" }}
    <br><br>
    <div class="col-lg-offset-2 col-lg-10">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    Records
                    <span id="totalRecords" class="pull-right"></span>
                </div>
                <div class="panel-body">
                    <canvas id="recordsChart" height="250"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    Disk Usage
                    <span id="totalDisk" class="pull-right"></span>
                </div>
                <div class="panel-body">
                    <canvas id="diskChart"></canvas>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    Deletes
                    <span id="totalDel" class="pull-right"></span>
                </div>
                <div class="panel-body">
                    <canvas id="deleteChart"></canvas>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    Adds
                    <span id="totalAdds" class="pull-right"></span>
                </div>
                <div class="panel-body">
                    <canvas id="addChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">

        </div>

        <div class="col-lg-6">

        </div>

        <!--
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    Reads
                    <span id="totalRead" class="pull-right"></span>
                </div>
                <div class="panel-body">
                    <canvas id="readChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    Updates
                    <span id="totalUpdate" class="pull-right"></span>
                </div>
                <div class="panel-body">
                    <canvas id="updateChart"></canvas>
                </div>
            </div>
        </div>
         -->
    </div>
{{ end }}

{{ define "right-sidebar" }}

{{ end }}

{{ define "scripts" }}
    <script src="/static/js/util.js"></script>
    <script type="text/javascript">
        var stores = {{ if .stores }}JSON.parse({{ .stores | pretty }}){{ else }}[]{{ end }};
        var dbName = {{ .db }}
        var path = 'static/export/' + genFileName(dbName) + '.tar';
    </script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/dbCharts.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#export').click(function() {
                $.ajax({
                    url: "/export",
                    success: function(data) {
                        console.log(data)
                        resp = JSON.parse(data);
                        if (resp.complete) {
                            window.location.href = resp.path;
                        } else {
                            $('p#msgContent').text('Error creating download file');
                            $('.navbar-center').addClass('hide');
                            $('span#JSmsg').removeClass('text-primary');
                            $('span#JSmsg').addClass('text-danger');
                            $('span#JSmsg').removeClass('hide');
                        }
                    }
                });
            });
        });
    </script>
{{ end }}
