{{ define "title"}}DBUI{{ end }}

{{ define "head" }}
    <style>input.uploader{position:absolute;left:-9999px;}label.uploader{cursor:pointer;}</style>
{{ end }}

{{ define "breadcrumbs" }}
    <li><a href="/">{{ .db | title }}</a></li>
    <li><a href="/{{ .storeName }}">{{ .storeName | title }}</a></li>
    <li class="active">Import</li>
{{ end }}

{{ define "left-sidebar" }}
    {{ template "all-store-sidebar" . }}
{{ end }}

{{ define "content" }}
    <div class="col-lg-offset-2 col-lg-10">
        <br>
        <div class="col-lg-offset-2 col-lg-4">

        <form action="/{{ .storeName }}/import" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label class="btn btn-default btn-block uploader" for="data">
					Select File
				</label>
				<input class="uploader" id="data" type="file" name="data" required="true">
			</div>
			<button class="btn btn-success uploader btn-block" id="upload" type="submit"
					disabled="true">
				Upload
			</button>
		</form>
        </div>
    </div>
{{ end }}

{{ define "scripts" }}
    <script src="/static/js/upload.js"></script>
{{ end }}
