{{ define "title"}}DBUI{{ end }}

{{ define "left-sidebar" }}
    {{ template "all-db-sidebar" . }}
{{ end }}

{{ define "content" }}
    <div class="col-lg-offset-2 col-lg-10">
        No Data
    </div>
{{ end }}
