{{ define "title"}}DBUI{{ end }}

{{ define "head" }}
    <script src="/static/js/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
{{ end }}

{{ define "breadcrumbs" }}
    <li><a href="/">{{ .db | title }}</a></li>
    <li class="active">{{ .storeName | title }}</li>
{{ end }}

{{ define "nav-right" }}
    {{ if .savedSearch }}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Saved Searches<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {{ $db := .db}}
                {{ $storeName := .storeName }}
                {{ range $search := .savedSearch }}
                    <li><a href="/{{ $storeName }}/search?query={{ $search }}">{{ $search | title }}</a></li>
                {{ end }}
            </ul>
        </li>
    {{ end }}
{{ end }}

{{ define "nav-right-dd" }}
    <li><a href="/{{ .storeName }}/new">New Record</a></li>
    <li><a href="/{{ .storeName }}/import">Import Data</a></li>
    <li><a href="#" data-message="Are you sure you would like to delete this store?" data-delete="/{{ .storeName }}" class="delete-button text-danger">Delete Store</a></li>
{{ end }}

{{ define "left-sidebar" }}
    {{ template "all-store-sidebar" . }}
{{ end }}

{{ define "content" }}
    <br>
    <div class="col-lg-offset-2 col-lg-7">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{ if .store }}
            {{ $db := .db }}
            {{ $storeName := .storeName }}
            {{ range $doc := .store }}
                <div class="panel panel-default">
                    <div class="panel-heading clearfix" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" class="btn btn-success btn-xs" style="color: #fff;" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ $doc.Id }}" aria-expanded="true" aria-controls="collapse{{ $doc.Id }}">
                                ID: {{ $doc.Id }}
                            </a>
                            <span class="pull-right">
                                <a href="/{{ $storeName }}/{{ $doc.Id }}">Edit</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" data-message="Are you sure you would like to delete this record?" data-delete="/{{ $storeName }}/{{ $doc.Id }}/del" class="delete-button text-danger">Delete</a>
                            </span>
                        </h4>
                    </div>
                    <div id="collapse{{ $doc.Id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ $doc.Id }}">
                        <div class="panel-body">
                            <pre id="editor{{ $doc.Id }}" style="height:400px;">{{ index $doc.Data | pretty }}</pre>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
        {{ else }}
            No Data
        {{ end }}
    </div>
{{ end }}

{{ define "right-sidebar" }}
    {{ template "search-sidebar" . }}
{{ end }}

{{ define "scripts" }}
    <script type="text/javascript">
        var dat = JSON.parse({{ .store | pretty }});
    </script>
{{ end }}
