{{ define "title"}}DBUI{{ end }}

{{ define "head" }}
    <style>input.uploader{position:absolute;left:-9999px;}label.uploader{cursor:pointer;}</style>
    <style>
        .pagination {
            margin: 0;
        }
    </style>
{{ end }}

{{ define "breadcrumbs" }}
    <li><a href="/">{{ .db | title }}</a></li>
    <li class="active">{{ .storeName }}</li>
{{ end }}

{{ define "nav-right" }}
    {{ if .savedSearch }}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Saved Searches<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {{ $db := .db}}
                {{ $storeName := .storeName }}
                {{ range $search := .savedSearch }}
                    <li><a href="/{{ $storeName }}?query={{ $search }}">{{ $search | title }}</a></li>
                {{ end }}
            </ul>
        </li>
    {{ end }}
{{ end }}

{{ define "nav-right-dd" }}
    <li><a href="/{{ .storeName }}/new">New Record</a></li>
    <li><a href="#" data-toggle="modal" data-target="#importModal">Import Store</a></li>
    <li><a href="#" id="export" download="" >Export Store</a></li>
    <li><a href="#" data-message="Are you sure you would like to delete this store?" data-delete="/{{ .storeName }}" class="delete-button text-danger">Delete Store</a></li>
{{ end }}

{{ define "left-sidebar" }}
    {{ template "all-store-sidebar" . }}
{{ end }}

{{ define "content" }}
    <br>
    <div class="col-lg-offset-2 col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <label>Pages</label>
                <label class="pull-right">Pages Size</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul id="paginator" class="pagination pagination-sm">
                </ul>
                <div class="pull-right">
                    <select id="pageSize" class="form-control input-sm">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div id=results>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="importModal" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload File</h4>
                </div>
                <div class="modal-body">
                    <form id="uploader" action="/{{ .storeName }}/import" method="post" enctype="multipart/form-data">
            			<div class="form-group">
            				<label class="btn btn-default btn-block uploader" for="data">
            					Select File
            				</label>
            				<input class="uploader" id="data" type="file" name="data" required="true">
            			</div>
            			<button class="btn btn-success uploader btn-block" id="upload" type="submit"
            					disabled="true">
            				Upload
            			</button>
            		</form>
                </div>
            </div>
        </div>
    </div>
{{ end }}

{{ define "right-sidebar" }}
    <div class="col-lg-offset-8 col-lg-4 sidebar">
        <p class="text-center">
            Must use doc as query object<br>
            Use dat.data to access record information
        </p>
        <pre id="editor" style="height:400px;">{{ if .query }}{{ .query }}{{ else }}return doc;{{ end }}</pre>
        <div class="form-group">
            <button id="search" class="btn btn-success btn-block">Search</button>
        </div>
        <form id="save-search-form" action="/{{ .storeName }}/search/save" method="post">
            <label>Name</label>
            <div class="input-group">
                <input id="name" name="name" type="text" class="form-control" placeholder="Name">
                <input id="search" name="search" type="hidden">
                <span class="input-group-btn">
                    <button id="save-search" class="btn btn-default" type="button">Save Search</button>
                </span>
            </div>
        </form>
    </div>
{{ end }}

{{ define "scripts" }}
    <script type="text/javascript">
        var store = {{ if .store }}JSON.parse({{ .store | pretty }}){{ else }}[]{{ end }}
        var result = {{ if .store }}JSON.parse({{ .store | pretty }}){{ else }}[]{{ end }}
        var storeName = '{{ .storeName }}';
        var editor = ace.edit("editor");
    </script>
    <script src="/static/js/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/paginator.js"></script>
    <script src="/static/js/upload.js"></script>
    <script src="/static/js/store-search.js"></script>
    <script src="/static/js/util.js"></script>
    <script type="text/javascript">
        function setExport() {
            var docs = [];
            for (var i = 0; i < store.length; i++) {
                docs.push(store[i].data);
            }
            var blob = new Blob([JSON.stringify(docs)], {type : 'application/json'});
            $('#export').attr('href', window.URL.createObjectURL(blob));
            $('#export').attr('download', genFileName(storeName) + '.json');
        }

        $(document).ready(function() {
            if (store.length > 0) {
                setExport();
            }
            {{ if .query }}
                query();
            {{ end }}

            uploader.defaultText = "Select File";
            uploader.fileTypes = ["application/json", "text/csv"];
            uploader.fileTypeErrorMsg = "Incorrect file type. All files must be JSON or CSV"
        });
    </script>
{{ end }}
