.navbar {
    margin-bottom: 0px;
}
.navbar-header ol.breadcrumb {
    padding-top: 15px;
    margin-bottom: 0px;
}
body {
    padding-top: 50px;
}
.sidebar {
    color: #999999;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background: #000;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: #999999;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #666;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    z-index: -100;
}

.nav .breadcrumb a {
    color: #E7370D;
}
